<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933502073142-f4f2ui7c68977emggg683qog11i00ce0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933502073142-f4f2ui7c68977emggg683qog11i00ce0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkNoJfLownxq1eFjlj7gRYvnZh5MEdZeo</string>
	<key>GCM_SENDER_ID</key>
	<string>933502073142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jayKissan</string>
	<key>PROJECT_ID</key>
	<string>jay-kissan-ca961</string>
	<key>STORAGE_BUCKET</key>
	<string>jay-kissan-ca961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933502073142:ios:39446ff91755e404f89b97</string>
</dict>
</plist>